.App {
    height: 100vh;
    width: 100vw;
    background: url('./images/matrix-map.jpg') center center black;
}

/* App Logo */
.Logo {
	position: absolute;
	margin-left: 0.5%;
	margin-top: 0.5%;
	animation: slidein 1s;
	animation-timing-function: ease-in;
}

/* Home Page */
.Home {
    background: url('./images/matrix-map.jpg') center center black;
    background-size: contain;
	background-repeat: repeat-x;
    background-attachment: scroll;
    justify-content: center;
	align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-animation: animatedBackground 40s linear infinite;
    animation: animatedBackground 40s linear infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* Title */
.Home h1 {
    font: 5rem 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
} 

/* "Go to Map" Button */
.Home .Button {
    margin-top: 30px;
    color: #76CA8F;
}

/* Glowing Text Animation */
.Glow {
    color: #052810;
    -webkit-animation: Glow 1s ease-in-out infinite alternate;
    -moz-animation: Glow 1s ease-in-out infinite alternate;
    animation: Glow 1s ease-in-out infinite alternate;
}

/* Glowing Text Animation Configuration */
@keyframes Glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #76CA8F, 0 0 40px #76CA8F, 0 0 50px #76CA8F, 0 0 60px #76CA8F, 0 0 70px #76CA8F;
    }
    to {
        text-shadow: 0 0 20px #A3DBB4, 0 0 30px #A3DBB4, 0 0 40px #A3DBB4, 0 0 50px #A3DBB4, 0 0 60px #A3DBB4, 0 0 70px #A3DBB4, 0 0 80px #A3DBB4;
    }
}

/* Static Glowing Text Animation */
.Glow-static {
    color: #052810;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #76CA8F, 0 0 40px #76CA8F, 0 0 50px #76CA8F, 0 0 60px #76CA8F, 0 0 70px #76CA8F;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

/* Map */
.mapboxgl-map {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
    margin-top: 12vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 9.6vh;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Marker */
.mapboxgl-marker {
    cursor: pointer;
}

/* Map Marker Popups */
.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    /* font-size: 12px; */
}

.mapboxgl-popup-content h3 {
    font-size: 14px;
    font-weight: bold;
}

/* Search Bar */
.mapboxgl-ctrl-geocoder {
    position: fixed;
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    left: 30%;
    top: 16vh;
}

/* Title */
.Title {
    padding-top: 3vh;
    font: 40px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}

/* Instructional Note */
.Note {
    margin-top: 84vh;
    text-align: center;
    font: 24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Side Bar */
.sidebar {
    font: 24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    top: 12vh;
    left: 1vw;
    right: 1vw;
    height: 78.4vh;
    padding-top: 2vh;
}

.sidebar h1 {
    font: 30px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 2.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(10px, auto);
    column-count: 2;
    column-gap: 62vw;
}

.sidebar h2 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7.5px;
    grid-auto-rows: minmax(10px, auto);
    column-count: 2;
    column-gap: 60vw;
}

/* Grid Columns */
.one {
    justify-self: center;
    grid-column: 1;
}

.two {
    justify-self: center;
    grid-column: 2;
}